
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    max-width: 1000px;
    height: 4rem;
    background: #9a9a9a;
    display: flex;
}

nav a {
    color: rgb(224, 224, 224);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover {
    background: rgb(43, 43, 43);
    color: #ccc;
}